/* 
Colors:
  Background: #1A4341
  Yellow: #F3AC3C
  Olive: #998235
*/

.box {
  background-color: #1a4341;
}

.shape-1 {
  background-color: #F3AC3C;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 100px;
  left: 150px;
}

.shape-1::after {
  content: '';
  background-color: #998235;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 20px;
  left: 20px;
  box-shadow: 40px -10px 0 -10px #998235, 15px 40px 0 -5px #998235;
}

.shape-2 {
  background-color: #F3AC3C;
  position: relative;
  width: 10px;
  height: 180px;
  border-radius: 10px;
  top: -50px;
  left: 195px;
  z-index: -1;
}

.shape-2::after {
  content: '';
  background-color: #F3AC3C;
  position: absolute;
  width: 10px;
  height: 178px;
  border-radius: 10px;
  rotate: 60deg;
  top: 6px;
  left: 9px;
}

.shape-2::before {
  content: '';
  background-color: #F3AC3C;
  position: absolute;
  width: 10px;
  height: 180px;
  border-radius: 10px;
  rotate: -60deg;
  top: 15px;
  left: 9px;
}