/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #0B2429
  Yellow: #F7EC7D
  Orange: #E38F66
  Red: #AA445F
*/

.box {
  background-color: #62306d;
  display: flex;
  align-items: center;
}

.rectangle {
  background-color: #F7EC7D;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 80px;
  box-shadow: 140px 0px #F7EC7D;
}

.rectangle::after {
  content: '';
  background-color: #AA445F;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50px 50px 0 0;
  top: -50px;
  z-index: -1;
}

.rectangle::before {
  content: '';
  background-color: #E38F66;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 0 0 50px 50px;
  top: 50px;
  left: 140px;
  z-index: -1;
}