/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #62306d
  Yellow: #fff1c1
  Red: #fe5f55
*/

.box {
  background-color: #293462;
}

.head {
  background-color: #fff1c1;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 140px 120px;
  box-shadow: 100px 0px #fff1c1;
}

.head::after {
  content: '';
  background-color: #fff1c1;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: -140px;
  left: -20px;
}

.head::before {
  content: '';
  background-color: #fff1c1;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: -140px;
  left: 80px;
}