/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background:#62306D
  Orange: #E38F66
  Yellow: #F7EC7D
*/

.box {
  background-color: #62306d;
  display: flex;
  align-items: center;
}

.ticket {
  background-color: #E38F66;
  position: relative;
  width: 60px;
  height: 100px;
  margin-left: 240px;
  box-shadow: -60px 0px #F7EC7D, -120px 0px #F7EC7D, -140px 0px #F7EC7D;
}

.ticket::after {
  content: '';
  background-color: #62306d;
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  left: 40px;
  top: -15px;
  box-shadow: 0px 95px #62306d, -195px 0px #62306d, -195px 95px #62306d;
}

.ticket::before {
  content: '';
  background-color: #62306d;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: -10px;
  left: -10px;
  box-shadow: 0px 100px #62306d;
}