/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #293462
  Yellow: #FFF1C1
  Red: #FE5F55
  Dark Red: #A64942
*/

.box {
  background-color: #293462;
}

.square {
  background-color: #FFF1C1;
  position: relative;
  width: 200px;
  height: 200px;
}

.square::after {
  content: '';
  background-color: #FE5F55;
  position: absolute;
  width: 100px;
  height: 200px;
  left: 200px;
  box-shadow: inset 0px -50px #A64942;
}

.square::before {
  content: '';
  background-color: #FE5F55;
  position: absolute;
  width: 200px;
  height: 100px;
  top: 200px;
  box-shadow: inset -50px 0px #A64942;
}