/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #121212
  Circle:#3278ff
  Rectangle:#ffe58e
  Union: #79d6ff
*/

.box {
  width: 394px;
  height: 296px;
  background-color: #121212;
  display: flex;
  justify-content: center;
}

.shape {
  background-color: #3278ff;
  margin: 48px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
}

.shape::after {
  content: '';
  background-color: #ffe58e;
  position: absolute;
  width: 75px;
  height: 125px;
  top: 75px;
  z-index: -1;
}

.shape::before {
  content: '';
  background-color: #79d6ff;
  position: absolute;
  border-radius: 0 0 0 100%;
  width: 75px;
  height: 75px;
  top: 75px;
}
